TAG=latest
POSTGRES_PASSWORD=postgres
FRONTEND_ORIGIN=
JWT_KEY=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
RESEND_API_KEY=
EMAIL_FROM=no-reply@send.hatsuapp.com
EMAIL_FROM_NAME=Hatsu
EMAIL_VERIFICATION_URL=https://hatsuapp.com/verify
